@import "tailwindcss";

@layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}