/* src/style.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Quita las reglas que centran el body para que el Layout pueda ocupar toda la pantalla */
body {
  margin: 0;
  padding: 0;
  background-color: #f8fafc; /* Un gris muy claro para el fondo */
  font-family: sans-serif;
}